<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.projects.schedule.mapper.ProjectGanttMapper">

	<select id="selectGanttList" resultType="kr.or.ddit.projects.vo.TaskBoardVO">
		SELECT
			 task_id
			,task_parent_id
			,task_instructer_id
			,task_assignee_id
			,A.pj_id
			,task_name
			,task_content
			,task_created_date
			,task_start_date
			,task_end_date
			,task_importance_code
			,task_st_code
			,task_progress
			,task_afi
			,task_is_del
			, user_name
		FROM task_board A
		INNER JOIN project_member B ON (B.pj_mem_id = A.task_assignee_id)
		INNER JOIN users C ON (B.user_id = C.user_id)
		WHERE A.pj_id = #{pjId}
			AND task_is_del = 'N'
		ORDER BY task_id
	</select>

</mapper>