<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.notication.report.mapper.ReportMapper">

	<resultMap type="kr.or.ddit.notication.vo.ReportVO" id="reportList" autoMapping="true">
		<id property="reportId" column="REPORT_ID" />
		<association property="project" javaType="kr.or.ddit.projects.vo.ProjectVO" autoMapping="true"></association>
		<association property="users" javaType="kr.or.ddit.users.vo.UsersVO" autoMapping="true"></association>
	
	</resultMap>

	<select id="selectReport" resultType="kr.or.ddit.notication.vo.ReportVO">
	
	
	
	</select>
	
	
	<insert id="insertReport">
	
	
	
	</insert>
	

</mapper>